html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
}

header {

}

.lg-space {
  margin: 200px 0;
}

/** FullScreen Slider **/

.bg-gradient {
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-2 {
  background-image: url("https://source.unsplash.com/random/1000x1000");
}

.arrow {
  width: 3%;
  min-width: 2%;
  max-width: 6%;
  position: absolute;
  top: 92%;
  left: 90%;
  opacity: 0.5;
}

.arrow-small {
  width: 2%;
  min-width: 2%;
  max-width: 6%;
  opacity: 0.5;
  margin-left: 540px;
}

.arrow-back {
  width: 2%;
  min-width: 2%;
  max-width: 6%;
  opacity: 0.5;
  transform: rotate(180deg);
}

.slider-paragraph {
  position: absolute;
  top: 10%;
  left: 10%;
}

code {
  border-radius: .4rem;
  font-size: 16px;
  color: white;
}

pre {

}

.box {
  background-color: #f4f4f4;
  padding: 12px 6px;
}

.small-box {
  width: 22%;
  background-color: #f4f4f4;
  height: 80px;
  box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
}

.center-right {
  position: absolute;
  z-index: 2;
  margin-left: 360px;
  margin-top: 5%;
}

.layout-1 > .card {
  background: #f4f4f4;
  transition: all 0.3s ease-in-out;
  height: 300px;
}

.layout-1 > .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
  transition: all 0.3s ease-in-out;
}

.push-down {
  margin-top: 20px;
}

.push {
  margin-bottom: 40px;
}

.buffer-sm {
  margin: 60px 0;
}

.buffer-lg {
  margin: 120px 0;
}

.content-background {
  height: 120px;
  background-color: #f4f4f4;
}

.card-content {
  padding: 20px;
}

.nav-bg {
  background-color: $red;
}

.div-me-up {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.row-border {
  border: solid 4px $red;
  padding: 10px 2px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
	transform: translateX(0);
  }
  40% {
	transform: translateX(-10px);
  }
  60% {
	transform: translateX(-5px);
  }
}

.layout-1-copy {
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.3;
  font-size: 14px;
}