/** colour **/
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif; }

body {
  margin: 0; }

.lg-space {
  margin: 200px 0; }

/** FullScreen Slider **/
.bg-gradient {
  background: #00C9FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient-2 {
  background-image: url("https://source.unsplash.com/random/1000x1000"); }

.arrow {
  width: 3%;
  min-width: 2%;
  max-width: 6%;
  position: absolute;
  top: 92%;
  left: 90%;
  opacity: 0.5; }

.arrow-small {
  width: 2%;
  min-width: 2%;
  max-width: 6%;
  opacity: 0.5;
  margin-left: 540px; }

.arrow-back {
  width: 2%;
  min-width: 2%;
  max-width: 6%;
  opacity: 0.5;
  transform: rotate(180deg); }

.slider-paragraph {
  position: absolute;
  top: 10%;
  left: 10%; }

code {
  border-radius: .4rem;
  font-size: 16px;
  color: white; }

.box {
  background-color: #f4f4f4;
  padding: 10px;
  color: #C96760; }

.layout-1 > .card {
  background: #f4f4f4;
  transition: all 0.3s ease-in-out;
  height: 300px; }

.layout-1 > .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in-out; }

.push-down {
  margin-top: 20px; }

.push {
  margin-bottom: 40px; }

.buffer-sm {
  margin: 60px 0; }

.buffer-lg {
  margin: 120px 0; }

.card-content {
  padding: 20px; }

.div-me-up {
  display: flex;
  justify-content: space-around;
  align-content: center; }

.row-border {
  border: solid 1px #CFCFCF;
  padding: 10px; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); }
  40% {
    transform: translateX(-10px); }
  60% {
    transform: translateX(-5px); } }
.layout-1-copy {
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.3;
  font-size: 14px; }

h1 {
  font-size: 46px;
  line-height: 52px; }

h2 {
  font-size: 36px;
  line-height: 44px; }

h3 {
  font-size: 28px;
  line-height: 26px; }

h4 {
  font-size: 22px;
  line-height: 30px; }

h5 {
  font-size: 18px;
  line-height: 26px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

p {
  font-size: 16px;
  line-height: 22px; }

.sb {
  font-weight: 600; }

.b {
  font-weight: 700; }

.eb {
  font-weight: 800; }

.i {
  font-style: italic; }

.u {
  text-decoration: underline; }

.up {
  text-transform: uppercase; }

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  align-content: flex-start;
  margin: 0 auto; }

.row {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  max-width: 75rem;
  margin: 30px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  align-content: flex-start; }

.row--full-width {
  max-width: 100%; }

*[class*="col-"],
*[class*="sm-col-"],
*[class*="md-col-"],
*[class*="flex-basis-"],
.col {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0; }

.col-1 {
  flex-basis: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%; }

.col-3 {
  flex-basis: 25.0%; }

.col-4 {
  flex-basis: 33.33333%; }

.col-5 {
  flex-basis: 41.66666%; }

.col-6 {
  flex-basis: 50.0%; }

.col-7 {
  flex-basis: 58.33333%; }

.col-8 {
  flex-basis: 66.66666%; }

.col-9 {
  flex-basis: 75.0%; }

.col-10 {
  flex-basis: 83.33333%; }

.col-11 {
  flex-basis: 91.66666%; }

.col-12 {
  flex-basis: 100.0%; }

.horizontal-full {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow-x: auto; }

.horizontal-in {
  display: flex;
  width: 100%;
  min-height: 100px;
  overflow-x: auto; }

.horizontal-content {
  min-width: 100%; }

.hide {
  display: none !important; }

.mobile-only {
  display: none !important; }

.md-only {
  display: none !important; }

.desktop-only {
  display: -ms-flexbox !important;
  display: flex !important; }

@media screen and (min-width: 47.9375em) and (max-width: 64em) {
  .mobile-only {
    display: none !important; }

  .md-only {
    display: -ms-flexbox !important;
    display: flex !important; }

  .desktop-only {
    display: none !important; }

  .md-hide {
    display: none !important; }

  .md-hide-down {
    display: none !important; } }
@media screen and (max-width: 47.9375em) {
  .mobile-only {
    display: -ms-flexbox !important;
    display: flex !important; }

  .md-only {
    display: none !important; }

  .desktop-only {
    display: none !important; }

  .mobile-hide {
    display: none !important; } }
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media screen and (max-width: 64em) {
  .md-text-left {
    text-align: left; }

  .md-text-center {
    text-align: center; }

  .md-text-right {
    text-align: right; }

  .md-col-center {
    margin: 0 auto; } }
@media screen and (max-width: 47.9375em) {
  .mobile-text-left {
    text-align: left; }

  .mobile-text-center {
    text-align: center; }

  .mobile-text-right {
    text-align: right; } }
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  clear: both;
  flex-direction: column; }

.center-row {
  display: flex;
  justify-content: space-between;
  clear: both;
  flex-direction: row; }

/* Backgrounds */
.bg-blue {
  background-color: #004cc9; }

.bg-blue2 {
  background-color: #00184F; }

.bg-red {
  background-color: #C96760; }

.bg-white {
  background-color: #FFFFFF; }

.bg-grey {
  background-color: #AAAAAA; }

.bg-black {
  background-color: #1d1d1d; }

/* Colors */
.blue {
  color: #004cc9; }

.blue2 {
  color: #00184F; }

.red {
  color: #C96760; }

.white {
  color: #FFFFFF; }

.grey {
  color: #AAAAAA; }

.black {
  color: #1d1d1d; }

/*# sourceMappingURL=css.css.map */
