/** colour **/
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif; }

body {
  margin: 0; }

.arrow {
  width: 3%;
  min-width: 2%;
  max-width: 6%;
  position: absolute;
  top: 92%;
  left: 90%;
  opacity: 0.5; }

.arrow-small {
  width: 2%;
  min-width: 2%;
  max-width: 6%;
  opacity: 0.5;
  margin-left: 540px; }

.arrow-back {
  width: 2%;
  min-width: 2%;
  max-width: 6%;
  opacity: 0.5;
  transform: rotate(180deg); }

.slider-paragraph {
  position: absolute;
  top: 10%;
  left: 10%; }

code {
  border-radius: .4rem;
  font-size: 16px;
  color: white; }

.box {
  background-color: #f4f4f4;
  padding: 12px 6px; }

.small-box {
  width: 22%;
  background-color: #f4f4f4;
  height: 80px;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }

.center-right {
  position: absolute;
  z-index: 2;
  margin-left: 360px;
  margin-top: 5%; }

.layout-1 > .card, .layout-1 > .hover {
  background: #f4f4f4;
  transition: all 0.3s ease-in-out;
  height: 300px; }

.layout-1 > .card:hover, .layout-1 > .hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in-out; }

.content-background {
  height: 120px;
  background-color: #f4f4f4; }

.card-content {
  padding: 20px; }

.nav-bg {
  background-color: #C96760; }

.div-me-up {
  display: flex;
  justify-content: space-around;
  align-content: center; }

.row-border {
  border: solid 4px #C96760;
  padding: 10px 2px; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); }
  40% {
    transform: translateX(-10px); }
  60% {
    transform: translateX(-5px); } }
.layout-1-copy {
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.3;
  font-size: 14px; }

.block-grid-box, .p1 {
  background-color: #f4f4f4;
  padding: 12px 6px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  overflow: hidden; }

.block-grid-box::before, .p1::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75); }

.block-grid-box:hover, .p1:hover {
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
  transition: all .5s; }

.p1 {
  background-image: url(https://source.unsplash.com/1600x900/?nature); }

/** cards **/
.card, .hover {
  background-color: #f4f4f4;
  padding: 12px 6px;
  height: 220px;
  -webkit-transition: .3s;
  transition: .5s ease-in-out;
  border-radius: 14px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07); }

/** helpers **/
.sb {
  font-weight: 600; }

.b {
  font-weight: 700; }

.eb {
  font-weight: 800; }

.i {
  font-style: italic; }

.u {
  text-decoration: underline; }

.up {
  text-transform: uppercase; }

.buffer-sm {
  margin: 60px 0; }

.buffer-lg {
  margin: 120px 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  clear: both;
  flex-direction: column; }

.center-row {
  display: flex;
  justify-content: space-between;
  clear: both;
  flex-direction: row; }

/** hover **/
.hover {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s ease-in; }

.hover:hover {
  transform: translateY(-4px);
  -webkit-transition: .3s;
  transition: .3s ease-in; }

h1 {
  font-size: 46px;
  line-height: 52px; }

h2 {
  font-size: 36px;
  line-height: 44px; }

h3 {
  font-size: 28px;
  line-height: 26px; }

h4 {
  font-size: 22px;
  line-height: 30px; }

h5 {
  font-size: 18px;
  line-height: 26px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

p {
  font-size: 16px;
  line-height: 22px; }

.sb {
  font-weight: 600; }

.b {
  font-weight: 700; }

.eb {
  font-weight: 800; }

.i {
  font-style: italic; }

.u {
  text-decoration: underline; }

.up {
  text-transform: uppercase; }

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0 auto; }

.container--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container--direction-row {
  -ms-flex-direction: row;
  flex-direction: row; }

.container--justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.container--justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.container--justify-content-space-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container--justify-content-space-around {
  -ms-flex-pack: start;
  justify-content: space-around; }

.container--align-items-start {
  -ms-flex-align: start;
  align-items: flex-start; }

.container--align-items-end {
  -ms-flex-align: end;
  align-items: flex-end; }

.container--align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline; }

.container--align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch; }

.container--align-content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.container--align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.container--align-content-space-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.container--align-content-space-around {
  -ms-flex-line-pack: start;
  align-content: space-around; }

.container--align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.row {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  max-width: 75rem;
  margin: 30px 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.row--full-width {
  max-width: 100%; }

.row--no-wrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.row--reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.row--justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.row--justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.row--justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.row--justify-content-space-around {
  -ms-flex-pack: justify;
  justify-content: space-around; }

.row--align-items-start {
  -ms-flex-align: start;
  align-items: flex-start; }

.row--align-items-center {
  -ms-flex-align: center;
  align-items: center; }

.row--align-items-end {
  -ms-flex-align: end;
  align-items: flex-end; }

.row--align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline; }

.row--align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch; }

.row--align-content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.row--align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.row--align-content-space-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.row--align-content-space-around {
  -ms-flex-line-pack: start;
  align-content: space-around; }

.row--align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.row .row {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  width: auto; }

*[class*="col-"], *[class*="sm-col-"], *[class*="md-col-"], *[class*="flex-basis-"], .col {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0; }

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%; }

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%; }

.col-3 {
  -ms-flex-preferred-size: 25.0%;
  flex-basis: 25.0%; }

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%; }

.col-5 {
  -ms-flex-preferred-size: 41.66666%;
  flex-basis: 41.66666%; }

.col-6 {
  -ms-flex-preferred-size: 50.0%;
  flex-basis: 50.0%; }

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%; }

.col-8 {
  -ms-flex-preferred-size: 66.66666%;
  flex-basis: 66.66666%; }

.col-9 {
  -ms-flex-preferred-size: 75.0%;
  flex-basis: 75.0%; }

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%; }

.col-11 {
  -ms-flex-preferred-size: 91.66666%;
  flex-basis: 91.66666%; }

.col-12 {
  -ms-flex-preferred-size: 100.0%;
  flex-basis: 100.0%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .col-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-3 {
    width: 25.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-8 {
    width: 66.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-9 {
    width: 75.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-11 {
    width: 91.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
.col-grow {
  -ms-flex: 1 1 100.0%;
  flex: 1 1 100.0%; }

.col-no-pad {
  padding-left: 0;
  padding-right: 0; }

@media screen and (max-width: 64em) {
  .md-col-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%; }

  .md-col-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%; }

  .md-col-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%; }

  .md-col-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%; }

  .md-col-5 {
    -ms-flex-preferred-size: 41.66666%;
    flex-basis: 41.66666%; }

  .md-col-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%; }

  .md-col-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%; }

  .md-col-8 {
    -ms-flex-preferred-size: 66.66666%;
    flex-basis: 66.66666%; }

  .md-col-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%; }

  .md-col-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%; }

  .md-col-11 {
    -ms-flex-preferred-size: 91.66666%;
    flex-basis: 91.66666%; }

  .md-col-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%; } }
@media screen and (max-width: 64em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .md-col-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-3 {
    width: 25.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-8 {
    width: 66.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-9 {
    width: 75.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-11 {
    width: 91.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
@media screen and (max-width: 47.9375em) {
  *[class*="col-"] {
    -ms-flex: 1 1 100.0%;
    flex: 1 1 100.0%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

  .sm-col-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-5 {
    -ms-flex-preferred-size: 41.66666%;
    flex-basis: 41.66666%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-8 {
    -ms-flex-preferred-size: 66.66666%;
    flex-basis: 66.66666%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-11 {
    -ms-flex-preferred-size: 91.66666%;
    flex-basis: 91.66666%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; } }
@media screen and (max-width: 47.9375em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sm-col-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-3 {
    width: 25.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-8 {
    width: 66.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-9 {
    width: 75.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-11 {
    width: 91.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
.horizontal-full {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow-x: auto; }

.horizontal-in {
  display: flex;
  width: 100%;
  min-height: 100px;
  overflow-x: auto; }

.horizontal-content {
  min-width: 100%; }

.hide {
  display: none !important; }

.mobile-only {
  display: none !important; }

.md-only {
  display: none !important; }

.desktop-only {
  display: -ms-flexbox !important;
  display: flex !important; }

@media screen and (min-width: 47.9375em) and (max-width: 64em) {
  .mobile-only {
    display: none !important; }

  .md-only {
    display: -ms-flexbox !important;
    display: flex !important; }

  .desktop-only {
    display: none !important; }

  .md-hide {
    display: none !important; }

  .md-hide-down {
    display: none !important; } }
@media screen and (max-width: 47.9375em) {
  .mobile-only {
    display: -ms-flexbox !important;
    display: flex !important; }

  .md-only {
    display: none !important; }

  .desktop-only {
    display: none !important; }

  .mobile-hide {
    display: none !important; } }
@media screen and (max-width: 64em) {
  .md-text-left {
    text-align: left; }

  .md-text-center {
    text-align: center; }

  .md-text-right {
    text-align: right; }

  .md-col-center {
    margin: 0 auto; } }
@media screen and (max-width: 47.9375em) {
  .mobile-text-left {
    text-align: left; }

  .mobile-text-center {
    text-align: center; }

  .mobile-text-right {
    text-align: right; } }
/* Backgrounds */
.bg-blue {
  background-color: #004cc9; }

.bg-blue2 {
  background-color: #00184F; }

.bg-red {
  background-color: #C96760; }

.bg-white {
  background-color: #FFFFFF; }

.bg-grey {
  background-color: #AAAAAA; }

.bg-black {
  background-color: #1d1d1d; }

/* Colors */
.blue {
  color: #004cc9; }

.blue2 {
  color: #00184F; }

.red {
  color: #C96760; }

.white {
  color: #FFFFFF; }

.grey {
  color: #AAAAAA; }

.black {
  color: #1d1d1d; }

.block-grid--justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.block-grid--justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.block-grid--justify-content-space-around {
  -ms-flex-pack: start;
  justify-content: space-around; }

.block-grid--justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.block-grid-1 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-1 .col {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.block-grid-2 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-2 .col {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.block-grid-3 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-3 .col {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%; }

.block-grid-4 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-4 .col {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.block-grid-5 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-5 .col {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%; }

.block-grid-6 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-6 .col {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%; }

.block-grid-7 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-7 .col {
  -ms-flex-preferred-size: 14.28571%;
  flex-basis: 14.28571%; }

.block-grid-8 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-8 .col {
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%; }

.block-grid-9 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-9 .col {
  -ms-flex-preferred-size: 11.11111%;
  flex-basis: 11.11111%; }

.block-grid-10 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-10 .col {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%; }

.block-grid-11 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-11 .col {
  -ms-flex-preferred-size: 9.09091%;
  flex-basis: 9.09091%; }

.block-grid-12 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block-grid-12 .col {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .block-grid-1 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-1 .col {
    width: 100%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-2 .col {
    width: 50%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-3 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-3 .col {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-4 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-4 .col {
    width: 25%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-5 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-5 .col {
    width: 20%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-6 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-6 .col {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-7 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-7 .col {
    width: 14.28571%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-8 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-8 .col {
    width: 12.5%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-9 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-9 .col {
    width: 11.11111%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-10 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-10 .col {
    width: 10%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-11 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-11 .col {
    width: 9.09091%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .block-grid-12 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .block-grid-12 .col {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
@media screen and (max-width: 64em) {
  .md-block-grid-1 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-1 .col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

  .md-block-grid-2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-2 .col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

  .md-block-grid-3 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-3 .col {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%; }

  .md-block-grid-4 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-4 .col {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }

  .md-block-grid-5 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-5 .col {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }

  .md-block-grid-6 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-6 .col {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%; }

  .md-block-grid-7 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-7 .col {
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%; }

  .md-block-grid-8 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-8 .col {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%; }

  .md-block-grid-9 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-9 .col {
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%; }

  .md-block-grid-10 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-10 .col {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%; }

  .md-block-grid-11 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-11 .col {
    -ms-flex-preferred-size: 9.09091%;
    flex-basis: 9.09091%; }

  .md-block-grid-12 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-12 .col {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%; } }
@media screen and (max-width: 64em) and (-ms-high-contrast: active) {
  .md-block-grid-1 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-1 .col {
    width: 100%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-2 .col {
    width: 50%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-3 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-3 .col {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-4 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-4 .col {
    width: 25%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-5 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-5 .col {
    width: 20%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-6 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-6 .col {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-7 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-7 .col {
    width: 14.28571%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-8 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-8 .col {
    width: 12.5%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-9 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-9 .col {
    width: 11.11111%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-10 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-10 .col {
    width: 10%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-11 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-11 .col {
    width: 9.09091%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-block-grid-12 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .md-block-grid-12 .col {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
@media screen and (max-width: 47.9375em) {
  .sm-block-grid-1 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-1 .col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

  .sm-block-grid-2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-2 .col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

  .sm-block-grid-3 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-3 .col {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%; }

  .sm-block-grid-4 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-4 .col {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }

  .sm-block-grid-5 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-5 .col {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }

  .sm-block-grid-6 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-6 .col {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%; }

  .sm-block-grid-7 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-7 .col {
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%; }

  .sm-block-grid-8 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-8 .col {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%; }

  .sm-block-grid-9 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-9 .col {
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%; }

  .sm-block-grid-10 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-10 .col {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%; }

  .sm-block-grid-11 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-11 .col {
    -ms-flex-preferred-size: 9.09091%;
    flex-basis: 9.09091%; }

  .sm-block-grid-12 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-12 .col {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%; } }
@media screen and (max-width: 47.9375em) and (-ms-high-contrast: active) {
  .sm-block-grid-1 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-1 .col {
    width: 100%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-2 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-2 .col {
    width: 50%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-3 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-3 .col {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-4 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-4 .col {
    width: 25%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-5 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-5 .col {
    width: 20%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-6 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-6 .col {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-7 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-7 .col {
    width: 14.28571%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-8 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-8 .col {
    width: 12.5%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-9 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-9 .col {
    width: 11.11111%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-10 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-10 .col {
    width: 10%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-11 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-11 .col {
    width: 9.09091%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-block-grid-12 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .sm-block-grid-12 .col {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

/*# sourceMappingURL=css.css.map */
